<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>HotelController.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AboutController</servlet-name>
        <servlet-class>HotelController.AboutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactController</servlet-name>
        <servlet-class>HotelController.ContactController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingController</servlet-name>
        <servlet-class>HotelController.BookingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomController</servlet-name>
        <servlet-class>HotelController.RoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomDetailController</servlet-name>
        <servlet-class>HotelController.RoomDetailController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AboutController</servlet-name>
        <url-pattern>/about</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactController</servlet-name>
        <url-pattern>/contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingController</servlet-name>
        <url-pattern>/booking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomController</servlet-name>
        <url-pattern>/room</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomDetailController</servlet-name>
        <url-pattern>/roomdetail</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
